<%= simple_form_for @asociado, :html =>{:multipart => true, :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :facebook %>
    <%= f.input :twitter %>
    <%= f.input :pinterest %>
    <%= f.input :nombre %>
    <%= f.input :logo, :as => :file %>
    <%= f.input :descripcion %>
    <%= f.input :telefono %>
    <%= f.input :direccion %>
    <%= f.input :web %>
    <%= f.input :email %>
    <%= f.input :categoria %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
