<p id="notice"><%= notice %></p>

<p>
  <b>Facebook:</b>
  <%= @asociado.facebook %>
</p>

<p>
  <b>Twitter:</b>
  <%= @asociado.twitter %>
</p>

<p>
  <b>Pinterest:</b>
  <%= @asociado.pinterest %>
</p>

<p>
  <b>Nombre:</b>
  <%= @asociado.nombre %>
</p>

<p>
  <b>Logo:</b>
  <%= @asociado.logo %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @asociado.descripcion %>
</p>

<p>
  <b>Telefono:</b>
  <%= @asociado.telefono %>
</p>

<p>
  <b>Direccion:</b>
  <%= @asociado.direccion %>
</p>

<p>
  <b>Web:</b>
  <%= @asociado.web %>
</p>

<p>
  <b>Email:</b>
  <%= @asociado.email %>
</p>


<%= link_to 'Edit', edit_asociado_path(@asociado) %> |
<%= link_to 'Back', asociados_path %>
