<%= simple_form_for(@camino_asociado) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :caminoId %>
    <%= f.input :asociadoId %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
