<h1>Listing camino_asociados</h1>

<table>
  <tr>
    <th>Caminoid</th>
    <th>Asociadoid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @camino_asociados.each do |camino_asociado| %>
  <tr>
    <td><%= camino_asociado.caminoId %></td>
    <td><%= camino_asociado.asociadoId %></td>
    <td><%= link_to 'Show', camino_asociado %></td>
    <td><%= link_to 'Edit', edit_camino_asociado_path(camino_asociado) %></td>
    <td><%= link_to 'Destroy', camino_asociado, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Camino asociado', new_camino_asociado_path %>
